{
  "name": "<%= name %>",
  "version": "<%= version %>",
  "description": "<%= description %>",
  "main": "build/index.js",
  "license": "MIT",
  "scripts": {
    "dev": "botique dev",
    "build": "botique build",
    "typecheck": "botique typecheck",
    "test": "botique test"
  },
  "devDependencies": {
    "botique-cli": "^0.1.0"
  }
}
